.dialog {
  background: #fff;
  border-radius: @border-radius;
  box-shadow: @shadow-x @shadow-y @shadow-size @shadow-color;
  margin: @margin;
  padding: 0;
}

.dialog-content {
  padding: @content-padding;
}

.dialog-footer {
  border-top: solid 1px #eee;
  padding: @content-padding;
  text-align: right;
}

.dialog-header {
  border-bottom: solid 1px #eee;
  padding: @content-padding;
}

.dialog-header .close-dialog {
  color: #888;
  cursor: pointer;
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
}

.dialog-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.dialog-wrapper {
  background: rgba(240, 240, 240, 0.5);
}
